---
title: About
---

<div class="welcome">
    <div class="col-xs-12 text-center bounceInDown animated">
        <div class="main-header">
          <h1>About</h1>
      </div>
      <div class="artist-info">
      <div class="col-xs-6 col-xs-offset-3">
            <p>Arik Gadye is a full-stack web developer with a passion for music, as well as helping musicians reach their audience more effectively through the use of technology.</p>
        </div>
    </div>
</div>
</div>